name: Trigger Jenkins

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: self-hosted
    steps:
      - name: Trigger Jenkins via curl
        env:
          JENKINS_USER: admin
          JENKINS_TOKEN: ${{ secrets.JENKINS_API_TOKEN }}
          JENKINS_URL: http://10.184.61.211:8080
          JOB_NAME: cicd-pipeline
        run: |
          curl -X POST "$JENKINS_URL/job/$JOB_NAME/build" \
            --user "$JENKINS_USER:$JENKINS_TOKEN"

