name: Trigger Jenkins Job

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy inside local server
        run: |
          echo "Now I am inside the private network"
          ssh lakshmi@10.184.61.211 'ls -l'
